/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    /*===== Colores =====*/
    --first-color: #ff5e14;
    --first-color-dark: #ca4e01;
    --first-color-light: #f8b9a4;
    --first-color-lighten: #F2F2F2;

    /*===== Font and typography =====*/
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

@media screen and (min-width: 768px) {
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

.login {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--first-color-dark);
}

h1 {
    margin: 0;
}

.login img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== LOGIN =====*/
.login {
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.login__content {
    display: grid;
}

.login__img {
    justify-self: center;
}

.login__img img {
    width: 310px;
    margin-top: 1.5rem;
}

.login__forms {
    position: relative;
    height: 50vh;
}

.login__registre {
    position: absolute;
    top: -1rem;
    width: 100%;
    background-color: var(--first-color-lighten);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
    animation-duration: .4s;
    animation-name: animate-login;
}

.login__create {
    position: absolute;
    vertical-align: center;
    bottom: -20%;
    width: 100%;
    background-color: var(--first-color-lighten);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
    animation-duration: .4s;
    animation-name: animate-login;
}

@keyframes animate-login {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.login__title {
    font-size: var(--h1-font-size);
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.login__box {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #FFF;
    margin-top: 1rem;
    border-radius: .5rem;
}

.login__icon {
    font-size: 1.5rem;
    color: var(--first-color);
}

.login__input {
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    font-weight: 700;
    color: var(--first-color-dark);
}

.login__input::placeholder {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    color: var(--first-color-light);
}

.login__forgot {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: var(--small-font-size);
    font-weight: 600;
    color: var(--first-color-light);
}

.login__button {
    display: block;
    padding: 1rem;
    margin: 1rem auto;
    background-color: var(--first-color);
    color: #FFF;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
    width: 100%;
    border: none;
    font-size: 1.3rem;
}

.login__button:hover {
    background-color: var(--first-color-dark);
}

.login__account, .login__signin, .login__signup {
    font-weight: 600;
    font-size: var(--small-font-size);
}

.login__account {
    color: var(--first-color-dark);
}

.login__signin, .login__signup {
    color: var(--first-color);
    cursor: pointer;
}

.login__social {
    margin-top: 1rem;
}

.login__social-icon {
    font-size: 1.5rem;
    color: var(--first-color-dark);
}

/*Show login*/
.block {
    display: block;
}

/*Hidden login*/
.none {
    display: none;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px) {
    .login__forms {
        width: 348px;
        justify-self: center;
    }
}

@media screen and (min-width: 1024px) {
    .login {
        height: 98vh;
        overflow: hidden;
    }

    .login__content {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }

    .login__img {
        display: flex;
        width: 600px;
        height: 588px;
        background-color: var(--first-color-lighten);
        border-radius: 1rem;
        padding-left: 1rem;
    }

    .login__img img {
        width: 390px;
        margin-top: 0;
    }

    .login__registre, .login__create {
        left: -11rem;
    }

    .login__registre {
        bottom: 2rem;
    }

    .login__create {
        /*bottom: -8rem;*/
    }
}

.login__create .fields-errors {
    text-align: left;
    color: red;
    font-size: .875rem;
}


.kakaotalk {
    display: flex;
    align-items: center;
    padding: 2px;
    height: 64px;
    border-radius: .5rem;
    background: #ffeb00;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Pretendard-Regular', sans-serif;
    transition: 0.3s;
}
.kakaotalk:hover{
    background: #dccb00;
    color: #1d1d1d;
}
.kakaotalk__login {
    width: 40px;
    height: 40px;
    margin-left: 1.8rem;
    margin-right: 1.3rem;
    display: inline-block;
    transition: 0.3s;
}
.login__social-p {
    margin: 0;
}